vehicleorder-exp-api/src/main/app/vehicleorder-exp-api.xml
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:context="http://www.springframework.org/schema/context" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	
  <apikit-soap:config name="InchcapeVehicleOrderInterface_v1Service" wsdlUrl="vehicle-order-exp-ws-WSDL_v0.1.wsdl" serviceName="InchcapeVehicleOrderInterface_v1Service" portName="InchcapeVehicleOrderInterface_v1" doc:name="APIkit SOAP: Configuration" inboundValidationMessage="true"/>

  <flow name="api-main">
    <http:listener path="${https.path}" config-ref="api-httpListenerConfig" doc:name="HTTP Listener - to Receive SOAP based Vehicle Order Request" />
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML- Transformation of Payload" mimeType="application/xml"/>
        <flow-ref name="leh-common-request-preprocess-subflow" doc:name="LEH - Request Preprocess"/>
        <flow-ref name="leh-common-trans-log-start-subflow" doc:name="LEH - Log Transaction Start"/>
        <flow-ref name="leh-common-service-log-start-subflow" doc:name="LEH - Log Service Start"/>        
		<flow-ref name="authentication-exp-flow" doc:name="Perform User Authentication"/>
            <choice doc:name="Check for Custom Authentication Failure HTTP Status Code">
            <when expression="#[message.outboundProperties.'http.status' == 403]">
                <dw:transform-message doc:name="Create Invalid Credentials  Response">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace soap http://schemas.xmlsoap.org/soap/envelope/
%namespace ns0 http://www.cloudhub.io/schemas/class/InchcapeVehicleOrderInterface_v1
%namespace ns1 http://www.cloudhub.io/schemas/class/GenericWebServiceInterface
---
{
  soap#Envelope:{
      soap#Body:{
    ns0#sendVehicleOrderResponse:{
        ns1#result: {
        ns1#status: "error",
        ns1#http-status-code: 403,
        ns1#summary:"Invalid Credentials",
        ns1#description:"Authorization failed due to invalid credentials",
        ns1#request-timestamp:now as :datetime {format: "yyyy-MM-dd HH:mm:ss.SSS"}
       }
      }
    }
  }
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <apikit-soap:router config-ref="InchcapeVehicleOrderInterface_v1Service" doc:name="Vehicle Order SOAPKit Router"/>
                <scripting:component doc:name="Retrieving Fault Details">
                    <scripting:script engine="Groovy"><![CDATA[def str= payload;
def status=message.getInvocationProperty('flag');
if(status == null)
{
message.setInvocationProperty('flag',false)
def substr=str.substring(str.indexOf("<faultstring>"),str.indexOf("</faultstring>"));
def substrcode=str.substring(str.indexOf("<faultcode>"),str.indexOf("</faultcode>"));
def faultcode=(substrcode.replaceAll("<faultcode>",""));
def faultstring=((substr.replaceAll("<faultstring>","")).replaceAll("<","")).replaceAll(">","");
message.setInvocationProperty('faultString', faultstring)
message.setInvocationProperty('faultCode', faultcode)

}

]]></scripting:script>
                </scripting:component>
                <dw:transform-message doc:name="Transformation - Create Success/Failure Response">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace soap http://schemas.xmlsoap.org/soap/envelope/
%namespace ns0 http://www.cloudhub.io/schemas/class/InchcapeVehicleOrderInterface_v1
%namespace ns1 http://www.cloudhub.io/schemas/class/GenericWebServiceInterface

---

{ 
	soap#Envelope :{
  		soap#Body:{
  			ns0#sendVehicleOrderResponse: {
				ns1#result: {
					ns1#status: "Success",
					ns1#http-status-code: 200,
					ns1#summary: "Success response message",
					ns1#description: "Success response message",
					ns1#request-timestamp:now as :datetime {format: "yyyy-MM-dd HH:mm:ss.SSS"}
				}
			}
		}
	}
} when (flowVars.flag) otherwise {
  	soap#Envelope:{
  		soap#Body:{
  			ns0#sendVehicleOrderResponse:{
  				ns1#result: {
  					ns1#status: "Fault",
			 		ns1#http-status-code: 500,
			 		ns1#summary :flowVars.faultCode,
			 		ns1#description :flowVars.faultString,
			 		ns1#request-timestamp:now as :datetime {format: "yyyy-MM-dd HH:mm:ss.SSS"} 
	   			}
	  		}
		}	
	}
}
]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy"/>
  </flow>
  <flow name="sendVehicleOrder:InchcapeVehicleOrderInterface_v1Service">
        <anypoint-mq:publish config-ref="Anypoint_MQ_Configuration" destination="${mq.queue}" doc:name="Publishing XML Message to VehicleOrder Exchange">
            <anypoint-mq:message-builder>
                <anypoint-mq:properties>
                    <anypoint-mq:property propertyName="transactionId" value="#[sessionVars.transactionId]"/>
                </anypoint-mq:properties>
            </anypoint-mq:message-builder>
        </anypoint-mq:publish>

  <set-variable variableName="flag" value="#[true]" doc:name="Set Flag"/>

    </flow>
    <flow name="vehicleorder-exp-apiFlow">
        <anypoint-mq:subscriber config-ref="Anypoint_MQ_Configuration" destination="${mq.queue}" acknowledgementMode="MANUAL" reconnectionWaitTime="10000" reconnectionAttempts="3" doc:name="Consuming XML Message from VehicleOrder Queue" />
        <message-properties-transformer doc:name="Set Leh Properties" scope="session">
            <add-message-property key="messageId" value="#[message.inboundProperties.messageId]"/>
        </message-properties-transformer>
        <flow-ref name="leh-common-messaging-request-preprocess-subflow" doc:name="LEH -Message Request Preprocess"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <dw:transform-message doc:name="Payload Transformation to Java" metadata:id="8be04f53-b232-45a0-b817-d07206306557">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.cloudhub.io/schemas/class/InchcapeVehicleInterface_v1
%namespace ns01 http://www.cloudhub.io/schemas/class/InchcapeVehicleOrderInterface_v1
---
{
	vehicleorder-request: {
		vehicleorder: {
			(BusinessId: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#BusinessId) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#BusinessId !=null),
			(CylinderCount: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#CylinderCount) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#CylinderCount !=null),
			(DealerEmailAddress: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#DealerEmailAddress) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#DealerEmailAddress !=null),
			(DealerName: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#DealerName) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#DealerName !=null),
			(DocumentURL: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#DocumentURL) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#DocumentURL !=null),
			(ExteriorColour: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExteriorColour) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExteriorColour !=null),
			(ExteriorColourCode: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExteriorColourCode) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExteriorColourCode !=null),
			(ExternalCustomerId: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExternalCustomerId) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExternalCustomerId !=null),
			(ExternalId: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExternalId) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExternalId !=null),
			(ExternalOrderId: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExternalOrderId) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExternalOrderId !=null),
			(ExternalVehicleId: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExternalVehicleId) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ExternalVehicleId !=null),
			(FuelType: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#FuelType) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#FuelType !=null),
			(InteriorColour: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#InteriorColour) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#InteriorColour !=null),
			(InteriorColourCode: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#InteriorColourCode) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#InteriorColourCode !=null),
			(Make: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#Make) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#Make !=null),
			(ModelCode: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelCode) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelCode !=null),
			(ModelDescription: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelDescription) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelDescription !=null),
			(ModelName: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelName) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelName !=null),
			(ModelVariant: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelVariant) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelVariant !=null),
			(ModelYear: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelYear) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#ModelYear !=null),
			(OrderAmount: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderAmount) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderAmount !=null),
			(OrderBalance: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderBalance) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderBalance !=null),
			(OrderNumber: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderNumber) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderNumber !=null),
			(OrderStatus: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderStatus) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderStatus !=null),
			(OrderURL: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderURL) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#OrderURL !=null),
			(SourceSystem: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#SourceSystem) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#SourceSystem !=null),
			(Transmission: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#Transmission) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#Transmission !=null),
			(VIN: payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#VIN) when (payload.ns01#sendVehicleOrder.ns01#VehicleOrder.ns01#VIN !=null)
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <set-session-variable variableName="originalPayload" value="#[payload]" doc:name="Set Original Payload"/>
        <dw:transform-message doc:name="JAVA to JSON - Transformation of Payload">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="HTTP_Request_Configuration" path="${vehicleorder.sys.http.listener.path}" method="POST" doc:name="HTTP Invoke System API">
            <http:request-builder>
                <http:header headerName="transactionId" value="#[sessionVars.transactionId]"/>
            </http:request-builder>
        </http:request>
        <anypoint-mq:ack config-ref="Anypoint_MQ_Configuration" doc:name="Anypoint MQ"/>
        <flow-ref name="leh-common-service-log-complete-subflow" doc:name="LEH - Log Service Complete"/>
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="authentication-exp-flow">
        <set-variable variableName="clientId" value="${https.auth.client.id}" doc:name="Set Client Id"/>
        <set-variable variableName="clientSecret" value="${https.auth.client.secret}" doc:name="Set Client Secret"/>

        <validation:is-true message="Authorisation error - client id or secret invalid" expression="#[message.inboundProperties.'x-client-id' == flowVars.clientId  &amp;&amp;  message.inboundProperties.'x-client-secret' == flowVars.clientSecret ]" doc:name="Validate - Client Id and Client Secret" exceptionClass="org.mule.api.security.UnauthorisedException"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="#[403]" doc:name="Set Custom Authentication Failure HTTP Status Code"/>
        </catch-exception-strategy> 
    </flow>
    
</mule>