endcustomer-exp-api/src/main/app/endcustomer-exp-api.xml
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

	

  <apikit-soap:config name="/InchcapeEndCustomerInterface_v1Service/InchcapeEndCustomerInterface_v1/api-config" wsdlUrl="end-customer-exp-ws-WSDL_v0.1 .wsdl" serviceName="InchcapeEndCustomerInterface_v1Service" portName="InchcapeEndCustomerInterface_v1" doc:name="APIkit SOAP: Configuration" inboundValidationMessage="true" />
  <flow name="api-main">
    <http:listener path="${https.path}" config-ref="EndCustomer_HTTP_Listener_Config" doc:name="HTTP Listener - to Receive SOAP based EndCustomer Request" />
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML- Transformation of Payload"/>
        <flow-ref name="leh-common-request-preprocess-subflow" doc:name="LEH - Request Preprocess "/>
        <flow-ref name="leh-common-trans-log-start-subflow" doc:name="LEH - Log Transaction Start"/>
         <flow-ref name="leh-common-service-log-start-subflow" doc:name="LEH - Log Service Start"/> 
		<flow-ref name="authentication-exp-flow" doc:name="Perform User Authentication"/>
            <choice doc:name="Check for Custom Authentication Failure HTTP Status Code">
            <when expression="#[message.outboundProperties.'http.status' == 403]">
                <dw:transform-message doc:name="Create Invalid Credentials  Response">
                    <dw:input-variable doc:sample="sample_data\empty.xml" variableName="faultCode"/>
                    <dw:input-variable doc:sample="sample_data\empty_1.xml" variableName="faultString"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace soap http://schemas.xmlsoap.org/soap/envelope/
%namespace ns0 http://www.cloudhub.io/schemas/class/InchcapeEndCustomerInterface_v1
%namespace ns1 http://www.cloudhub.io/schemas/class/GenericWebServiceInterface
---
{
  soap#Envelope:{
      soap#Body:{
    ns0#sendEndCustomerResponse:{
        ns1#result: {
        ns1#status: "error",
        ns1#http-status-code: 403,
        ns1#summary:"Invalid Credentials",
        ns1#description:"Authorization failed due to invalid credentials",
        ns1#request-timestamp:now as :datetime {format: "yyyy-MM-dd HH:mm:ss.SSS"}
       }
      }
    }
  }
}]]></dw:set-payload>
                </dw:transform-message>

            </when>
            <otherwise>
                <apikit-soap:router config-ref="/InchcapeEndCustomerInterface_v1Service/InchcapeEndCustomerInterface_v1/api-config" doc:name="End Customer SOAPKit Router"/>
                <scripting:component doc:name="Retrieving Fault Details">
                    <scripting:script engine="Groovy"><![CDATA[def str= payload;
def status=message.getInvocationProperty('flag');
if(status == null)
{
message.setInvocationProperty('flag',false)
def substr=str.substring(str.indexOf("<faultstring>"),str.indexOf("</faultstring>"));
def substrcode=str.substring(str.indexOf("<faultcode>"),str.indexOf("</faultcode>"));
def faultcode=(substrcode.replaceAll("<faultcode>",""));
def faultstring=((substr.replaceAll("<faultstring>","")).replaceAll("<","")).replaceAll(">","");
message.setInvocationProperty('faultString', faultstring)
message.setInvocationProperty('faultCode', faultcode)

}

]]></scripting:script>
                </scripting:component>
                <dw:transform-message doc:name="Transformation - Create Success/Failure Response">
                    <dw:input-variable doc:sample="sample_data\empty.xml" variableName="faultCode"/>
                    <dw:input-variable doc:sample="sample_data\empty_1.xml" variableName="faultString"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace soap http://schemas.xmlsoap.org/soap/envelope/
%namespace ns0 http://www.cloudhub.io/schemas/class/InchcapeEndCustomerInterface_v1
%namespace ns1 http://www.cloudhub.io/schemas/class/GenericWebServiceInterface

---

{ 
	soap#Envelope :{
  		soap#Body:{
  			ns0#sendEndCustomerResponse: {
				ns1#result: {
					ns1#status: "Success",
					ns1#http-status-code: 200,
					ns1#summary: "Success response message",
					ns1#description: "Success response message",
					ns1#request-timestamp:now as :datetime {format: "yyyy-MM-dd HH:mm:ss.SSS"}
				}
			}
		}
	}
} when (flowVars.flag) otherwise {
  	soap#Envelope:{
  		soap#Body:{
  			ns0#sendEndCustomerResponse:{
  				ns1#result: {
  					ns1#status: "Fault",
			 		ns1#http-status-code: 500,
			 		ns1#summary :flowVars.faultCode,
			 		ns1#description :flowVars.faultString,
			 		ns1#request-timestamp:now as :datetime {format: "yyyy-MM-dd HH:mm:ss.SSS"} 
	   			}
	  		}
		}	
	}
}
]]></dw:set-payload>
                </dw:transform-message>

            </otherwise>
        </choice>  
        <!-- *** Use the custom and common Exception Strategy defined from 'Logging and Exception Strategy Utility Framework' *** -->
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy"/>  
  
  </flow>
  <flow name="sendEndCustomer:/InchcapeEndCustomerInterface_v1Service/InchcapeEndCustomerInterface_v1/api-config">
        <anypoint-mq:publish config-ref="Anypoint_MQ_Configuration" destination="${mq.queue}" doc:name="Publish Xml Payload to Anypoint MQ - EndCustomer  Exchange">
            <anypoint-mq:message-builder>
                <anypoint-mq:properties>
                    <anypoint-mq:property propertyName="transactionId" value="#[sessionVars.transactionId]"/>
                </anypoint-mq:properties>
            </anypoint-mq:message-builder>
        </anypoint-mq:publish>
        <set-variable variableName="flag" value="#[true]" doc:name="Set Flag"/>


        


  </flow>
    <flow name="endcustomer-exp-api-processing-flow">
        <anypoint-mq:subscriber config-ref="Anypoint_MQ_Configuration" destination="${mq.queue}" acknowledgementMode="MANUAL" reconnectionWaitTime="10000" reconnectionAttempts="3" doc:name="Consuming Json Message from End Customer Queue"/>
        <message-properties-transformer doc:name="Set Leh Properties" scope="session">

            <add-message-property key="messageId" value="#[message.inboundProperties.messageId]"/>
        </message-properties-transformer>
        <flow-ref name="leh-common-messaging-request-preprocess-subflow" doc:name="leh-common-messaging-request-preprocess-subflow"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <dw:transform-message doc:name="Payload Transformation to Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.cloudhub.io/schemas/class/InchcapeEndCustomerInterface_v1
---
{
	customer-request: {
		brand-preferences: (payload.ns0#sendEndCustomer.*ns0#brandPreferences default []) filter ($ != null) map ((brandPreference , indexOfBrandPreference) -> {
			(Brand: brandPreference.ns0#Brand) when (brandPreference.ns0#Brand != null),
			(BusinessId: brandPreference.ns0#BusinessId) when (brandPreference.ns0#BusinessId != null),
			(EmailOptIn: brandPreference.ns0#EmailOptIn) when (brandPreference.ns0#EmailOptIn != null),
			(ExternalId: brandPreference.ns0#ExternalId) when ( brandPreference.ns0#ExternalId != null),
			(ExternalEntityId: brandPreference.ns0#ExternalEntityId) when (brandPreference.ns0#ExternalEntityId != null),
			(MailOptIn: brandPreference.ns0#MailOptIn) when (brandPreference.ns0#MailOptIn != null),
			(PhoneOptIn: brandPreference.ns0#PhoneOptIn) when (brandPreference.ns0#PhoneOptIn != null),
			(ResearchOptIn: brandPreference.ns0#ResearchOptIn) when (brandPreference.ns0#ResearchOptIn != null),
			(SMSOptIn: brandPreference.ns0#SMSOptIn) when (brandPreference.ns0#SMSOptIn != null),
			(SourceSystem: brandPreference.ns0#SourceSystem) when (brandPreference.ns0#SourceSystem != null),
			(SubscriptionSource: brandPreference.ns0#SubscriptionSource) when (brandPreference.ns0#SubscriptionSource != null),
			(SubscriptionStatus: brandPreference.ns0#SubscriptionStatus) when (brandPreference.ns0#SubscriptionStatus != null),
			(Type: brandPreference.ns0#Type) when (brandPreference.ns0#Type != null),
			(UnsubscribeReason: brandPreference.ns0#UnsubscribeReason) when (brandPreference.ns0#UnsubscribeReason != null)
		}),
		customer: {
			(BirthDate: payload.ns0#sendEndCustomer.ns0#customer.ns0#BirthDate) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#BirthDate !=null),
			(BusinessId: payload.ns0#sendEndCustomer.ns0#customer.ns0#BusinessId) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#BusinessId !=null),
			(BusinessPhone: payload.ns0#sendEndCustomer.ns0#customer.ns0#BusinessPhone) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#BusinessPhone !=null),
			(BusinessPhoneValid: payload.ns0#sendEndCustomer.ns0#customer.ns0#BusinessPhoneValid) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#BusinessPhoneValid !=null),
			(BusinessPhoneValidatedBy: payload.ns0#sendEndCustomer.ns0#customer.ns0#BusinessPhoneValidatedBy) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#BusinessPhoneValidatedBy !=null),
			(CompanyName: payload.ns0#sendEndCustomer.ns0#customer.ns0#CompanyName) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#CompanyName !=null),
			(ContactBirthDate: payload.ns0#sendEndCustomer.ns0#customer.ns0#ContactBirthDate) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#ContactBirthDate !=null),
			(ContactFirstName: payload.ns0#sendEndCustomer.ns0#customer.ns0#ContactFirstName) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#ContactFirstName !=null),
			(ContactLastName: payload.ns0#sendEndCustomer.ns0#customer.ns0#ContactLastName) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#ContactLastName !=null),
			(ContactSalutation: payload.ns0#sendEndCustomer.ns0#customer.ns0#ContactSalutation) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#ContactSalutation !=null),
			(EmailAddress: payload.ns0#sendEndCustomer.ns0#customer.ns0#EmailAddress) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#EmailAddress !=null),
			(EmailAddressValid: payload.ns0#sendEndCustomer.ns0#customer.ns0#EmailAddressValid) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#EmailAddressValid !=null),
			(EmailAddressValidatedBy: payload.ns0#sendEndCustomer.ns0#customer.ns0#EmailAddressValidatedBy) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#EmailAddressValidatedBy !=null),
			(ExternalCustomerId: payload.ns0#sendEndCustomer.ns0#customer.ns0#ExternalCustomerId) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#ExternalCustomerId !=null),
			(ExternalId: payload.ns0#sendEndCustomer.ns0#customer.ns0#ExternalId) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#ExternalId !=null),
			(FirstName: payload.ns0#sendEndCustomer.ns0#customer.ns0#FirstName) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#FirstName !=null),
			(Gender: payload.ns0#sendEndCustomer.ns0#customer.ns0#Gender) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#Gender !=null),
			(HomePhone: payload.ns0#sendEndCustomer.ns0#customer.ns0#HomePhone) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#HomePhone !=null),
			(HomePhoneValid: payload.ns0#sendEndCustomer.ns0#customer.ns0#HomePhoneValid) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#HomePhoneValid !=null),
			(HomePhoneValidatedBy: payload.ns0#sendEndCustomer.ns0#customer.ns0#HomePhoneValidatedBy) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#HomePhoneValidatedBy !=null),
			(IdentificationNumber: payload.ns0#sendEndCustomer.ns0#customer.ns0#IdentificationNumber) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#IdentificationNumber !=null),
			(LastName: payload.ns0#sendEndCustomer.ns0#customer.ns0#LastName) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#LastName !=null),
			(MailingAddressCity: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressCity) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressCity !=null),
			(MailingAddressCountry: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressCountry) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressCountry !=null),
			(MailingAddressDPID: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressDPID) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressDPID !=null) as :string,
			(MailingAddressPostcode: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressPostcode) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressPostcode !=null) as :string,
			(MailingAddressRTS: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressRTS) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressRTS !=null) as :string,
			(MailingAddressState: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressState) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressState !=null),
			(MailingAddressStreet: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressStreet) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressStreet !=null),
			(MailingAddressValid: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressValid) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressValid !=null),
			(MailingAddressValidatedBy: payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressValidatedBy) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MailingAddressValidatedBy !=null),
			(MobilePhone: payload.ns0#sendEndCustomer.ns0#customer.ns0#MobilePhone) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MobilePhone !=null) as :string,
			(MobilePhoneValid: payload.ns0#sendEndCustomer.ns0#customer.ns0#MobilePhoneValid) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MobilePhoneValid !=null),
			(MobilePhoneValidatedBy: payload.ns0#sendEndCustomer.ns0#customer.ns0#MobilePhoneValidatedBy) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#MobilePhoneValidatedBy !=null),
			(RecordType: payload.ns0#sendEndCustomer.ns0#customer.ns0#RecordType) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#RecordType !=null),
			(Salutation: payload.ns0#sendEndCustomer.ns0#customer.ns0#Salutation) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#Salutation !=null),
			(SourceSystem: payload.ns0#sendEndCustomer.ns0#customer.ns0#SourceSystem) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#SourceSystem !=null),
			(StandardAddressCity: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressCity) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressCity !=null),
			(StandardAddressCountry: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressCountry) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressCountry !=null),
			(StandardAddressDPID: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressDPID) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressDPID !=null) as :string,
			(StandardAddressPostcode: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressPostcode) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressPostcode !=null) as :string,
			(StandardAddressRTS: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressRTS) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressRTS !=null) as :string,
			(StandardAddressState: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressState) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressState !=null),
			(StandardAddressStreet: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressStreet) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressStreet !=null),
			(StandardAddressValid: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressValid) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressValid !=null),
			(StandardAddressValidatedBy: payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressValidatedBy) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#StandardAddressValidatedBy !=null),
			(TaxationId: payload.ns0#sendEndCustomer.ns0#customer.ns0#TaxationId) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#TaxationId !=null),
			(WorkPhone: payload.ns0#sendEndCustomer.ns0#customer.ns0#WorkPhone) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#WorkPhone !=null) as :string,
			(WorkPhoneValid: payload.ns0#sendEndCustomer.ns0#customer.ns0#WorkPhoneValid) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#WorkPhoneValid !=null),
			(WorkPhoneValidatedBy: payload.ns0#sendEndCustomer.ns0#customer.ns0#WorkPhoneValidatedBy) when (payload.ns0#sendEndCustomer.ns0#customer.ns0#WorkPhoneValidatedBy !=null)
		},
			external-ids: (payload.ns0#sendEndCustomer.*ns0#externalIds default []) filter ($ != null) map ((externalIds , indexOfExternalIds)-> {
			(BusinessId: externalIds.ns0#BusinessId) when (externalIds.ns0#BusinessId != null),
			(ExternalId: externalIds.ns0#ExternalId) when (externalIds.ns0#ExternalId != null),
			(ExternalEntityId: externalIds.ns0#ExternalEntityId) when (externalIds.ns0#ExternalEntityId != null),
			(SourceSystem: externalIds.ns0#SourceSystem) when (externalIds.ns0#SourceSystem != null)
		})}
	
}
]]></dw:set-payload>
        </dw:transform-message>
        <set-session-variable variableName="originalPayload" value="#[payload]" doc:name="Set Original Payload"/>

        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="Invoke_System_API" path="${endcustomer.sys.http.listener.path}" method="POST" doc:name="HTTP - Invoke EndCustomer System API">
            <http:request-builder>
                <http:header headerName="transactionId" value="#[sessionVars.'transactionId']"/>
            </http:request-builder>
        </http:request>
        <anypoint-mq:ack config-ref="Anypoint_MQ_Configuration" doc:name="Acknowledging End Customer Queue"/>
        <flow-ref name="leh-common-service-log-complete-subflow" doc:name="LEH - Log Service Complete"/>
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="authentication-exp-flow">
        <set-variable variableName="clientId" value="${https.auth.client.id}" doc:name="Set Client Id"/>
        <set-variable variableName="clientSecret" value="${https.auth.client.secret}" doc:name="Set Client Secret"/>

        <validation:is-true message="Authorisation error - client id or secret invalid" expression="#[message.inboundProperties.'x-client-id' == flowVars.clientId  &amp;&amp;  message.inboundProperties.'x-client-secret' == flowVars.clientSecret ]" doc:name="Validate - Client Id and Client Secret" exceptionClass="org.mule.api.security.UnauthorisedException"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="#[403]" doc:name="Set Custom Authentication Failure HTTP Status Code"/>
        </catch-exception-strategy> 
    </flow>
    
</mule>